[init]
    defaultBranch = main
[user]
    name = at337am
    email = lueqit@gmail.com
[alias]
    st = status
    lg = log --oneline --graph --decorate --all
    sw = switch
    br = branch
    co = checkout
    aa = !git add --all && git status -bs
    ci = commit
    cim = commit -m
    wip = commit -m "WIP"
    cia = commit --amend
    aw = !git add --all && git commit -m "WIP"
    ps = push origin main
    count = rev-list --count HEAD
    res = restore
    rts = reset --soft
[core]
    quotepath = false
    editor = nvim
[log]
    date = iso
[https]
    proxy = http://127.0.0.1:2080
[http]
    proxy = http://127.0.0.1:2080
