[init]
    defaultBranch = main
[user]
    name = at337am
    email = lueqit@gmail.com
[alias]
    co = checkout
    br = branch
    ci = commit
    sw = switch
    st = status
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
    count = rev-list --count HEAD
    wip = commit -m "WIP"
    rh = reset --hard
    rs = reset --soft
    save = stash save
    saves = stash list
    apply = stash apply
    pom = push origin main
    aw = !git add . && git wip
    awp = !git add . && git wip && git pom
    rt = restore
