[init]
    defaultBranch = main
[user]
    name = at337am
    email = lueqit@gmail.com
[alias]
    aw = !git add --all && git commit -m "WIP"
    br = branch
    ci = commit
    cia = commit --amend
    cim = commit -m
    co = checkout
    count = rev-list --count HEAD
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
    ps = push origin main
    res = restore
    rts = reset --soft
    st = status
    sw = switch
    wip = commit -m "WIP"
[core]
    quotepath = false
    editor = nvim
[log]
    date = iso
