* {
    font: "Google Sans Code 12";

    background-color: transparent;
    text-color: #d8dee9;

    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

window {
    location: north;
    y-offset: calc(50% - 176px);
    width: 480;
    border-radius: 0px;

    background-color: #2e3440f2;
}

mainbox {
    padding: 12px;
}

inputbar {
    background-color: #3b4252;
    border-color: #88c0d0f2;

    border: 2px;
    border-radius: 0px;

    padding: 8px 16px;
    spacing: 8px;
    children: [ prompt, entry];
}

prompt {
    text-color: #d8dee9;
}

entry {
    placeholder: "Search";
    placeholder-color: #4c566a;
}

message {
    margin: 12px 0 0;
    border-radius: 0px;
    border-color: #4c566a80;
    background-color: #4c566a80;
}

textbox {
    padding: 8px 24px;
}

listview {
    background-color: transparent;

    margin: 12px 0 0;
    lines: 8;
    columns: 1;

    fixed-height: true;
}

element {
    padding: 8px 16px;
    spacing: 8px;
    border-radius: 0px;
}

element normal active {
    text-color: #88c0d0f2;
}

element alternate active {
    text-color: #88c0d0f2;
}

element selected normal,
element selected active {
    background-color: #88c0d0f2;
}

element-icon {
    size: 1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
}

element selected {
    text-color: #3b4252;
}
