/* ------------------- */

* {
    border: none;
    border-radius: 0;
    font-family: "Google Sans Code", "0xProto Nerd Font Mono", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 40, 40, 0.85);
    color: #ffffff;
    /* padding: 0 8px; */
}

/* ------------------- */

#clock,
#workspaces,
#tray,
#network,
#pulseaudio,
#backlight,
#battery {
    padding: 0 10px;
    margin: 4px 0;
}

/* ------------------- */

/* 时钟样式 */
#clock {
    border-right: 1px solid #ffffff;
    padding-right: 10px;
}

/* ------------------- */

/* 工作区样式 */
#workspaces button {
    padding: 0 16px;
    margin: 0 2px;
    color: #a6a6a6;
    background-color: transparent;
}

/* 鼠标悬停时 */
#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* 当前活动工作区 */
#workspaces button.active {
    color: #ffffff;
    background-color: #555555;
    /* border-radius: 4px; */
}

/* 有窗口但非活动的工作区 */
#workspaces button.occupied {
    color: #ffffff;
}

/* ------------------- */

/* 为右侧模块添加一个简单的分隔符 */
#network,
#pulseaudio,
#backlight,
#battery {
    border-left: 2px solid #8c8c8c;
    padding-left: 10px;
}

#battery.warning {
    color: #ffb86c;
}

#battery.critical {
    color: #ff5555;
}
