* {
    border: none;
    border-radius: 0;
    font-family: "Google Sans Code", "0xProto Nerd Font Mono", sans-serif;
    font-size: 14px;
}

window#waybar {
    color: #333;
    /* color: #e5e5e5; */
    background: rgba(46, 46, 46, 0.85);
}

#clock,
#tray,
#pulseaudio,
#backlight,
#battery {
    padding: 0 8px;
    background: #fff5f2;
}




#workspaces {
    padding: 0;
    background: #fff5f2;
    margin: 4px 0;
}

#workspaces button {
    padding: 0 16px;
    color: #a6a6a6;
}

/* 鼠标悬停时 */
#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* 当前工作区 */
#workspaces button.active {
    color: #e5e5e5;
    background-color: #555555;
}

/* 有窗口但非活动的工作区 */
/* #workspaces button.occupied {
    color: #e5e5e5;
} */




#battery.warning {
    color: #ffb86c;
}

#battery.critical {
    color: #ff5555;
}
